<nav aria-label="breadcrumb" class="container-fluid content-inner pt-3 pb-3" style="min-height: 1px !important;">
<ol class="breadcrumb m-0">
  <li class="breadcrumb-item"><a href="#">Payments</a></li>
  <li class="breadcrumb-item active" aria-current="page">Raise Bill</li>
</ol>
</nav>