<!-- Footer Section Start -->
<footer class="footer">
    <div class="footer-body">
        <div>
            Support Email: <a href="mailto:support@velsof.com">support@velsof.com</a> | Contact No.: <a
                href="tel:0120-4243310">0120-4243310</a>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

