$blue-dark: #0F61AB;
$blue: #33B5E6;
$blue-light: #E1F9FF;

$orange: #FF7F3E;
$green: #43A047;

$grey: #8A92A6;

$white: #F5F6FA;

$main-font: "Open Sans", sans-serif;

$roboto-font: "Roboto", sans-serif;

$grafik-font: 'Grafik', sans-serif;