.border-left {
  border-left: 10px solid var(--bs-primary);
}

.ds-line {
  width: 1px;
  height: 30px;
  background: #CBCBCB;
  @media (max-width: 576px) {
    display: none;
  }
}


.ds-submit {
  @media (max-width: 576px) {
    width: 100%;
  }
}

.ds-info {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  border-radius: 25px;
  padding: 3px 15px;
  color: #fff;
}

.ds-orange {
  background: #FF7F3E;
}

.ds-green {
  background: #43A047;
}

.ds-dates {
  input {
    width: 100%;
  }
  &__col {
    width: calc(50% - 10px);
  }
}