.content-inner {
    padding: calc(var(--bs-gutter-x, .75rem) * 3);
}

@include media-breakpoint-down(md) {
    .content-inner {
        padding: calc(var(--bs-gutter-x, .75rem) * 2);
    }
}

  
  
  @media (min-width: 576px) {
    .m0 {
      margin: 0 !important;
    }
  }
  
  
  .ds-btn {
    width: 100%;
  }
  
  
  select {
    cursor: pointer;
  }