{{#extend layout title="admin" active="admin" path="../" animation="true" isBreadCrumb="true" }}
{{#content "content"}}


<form class="card mb-5 border-left">
  <div class="card-body">

    <div class="row align-items-end">
      <div class="col-12 col-sm-6 col-md-4 mb-3 mb-sm-0">
        <label class="form-check-label">Search</label>
        <input type="search" class="form-control" placeholder="Search...">
      </div>
      <div class="col-4 d-flex gap-2">
        <button class="btn btn-warning">Reset</button>
        <button class="btn btn-primary">Filter</button>
      </div>
    </div>

  </div>
</form>



<div class="row">
  <div class="col-sm-12">
    <div class="card-header d-flex justify-content-between flex-wrap mb-4">
      <h4 class="card-title mb-0">Field Engineer Expense</h4>
    </div>
  </div>


  <div class="card">
    <div class="card-body">

      <div class="table-responsive">
        <table id="datatable" class="table table-striped" data-toggle="data-table">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Username</th>
              <th>Amount</th>
              <th>Added On</th>
              <th>Approval Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Sunil Sharma</td>
              <td>₹15,250</td>
              <td>12-09-2024</td>
              <td>
                <div class="ds-info ds-green">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18">
                    <path fill="#fff"
                      d="M17.25 7.5a1.5 1.5 0 0 0-1.5-1.5h-4.74l.72-3.428c.015-.075.022-.157.022-.24 0-.307-.127-.592-.33-.794L10.627.75 5.692 5.685A1.497 1.497 0 0 0 5.25 6.75v7.5a1.5 1.5 0 0 0 1.5 1.5h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.288c.067-.172.105-.352.105-.547V7.5ZM.75 15.75h3v-9h-3v9Z" />
                  </svg>
                  Approved
                </div>
              </td>
              <td>
                <div class="d-flex gap-2">
                  <button class="btn btn-light">View</button>
                  <button class="btn btn-primary">Download</button>
                  <button class="btn btn-success p-2" data-toggle="tooltip" data-placement="top" title="Approve">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path fill="#fff"
                        d="M23 10a2 2 0 0 0-2-2h-6.32l.96-4.57c.02-.1.03-.21.03-.32 0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.58C7.22 7.95 7 8.45 7 9v10a2 2 0 0 0 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2ZM1 21h4V9H1v12Z" />
                    </svg>
                  </button>
                  <button class="btn btn-danger p-2" data-toggle="tooltip" data-placement="top" title="Reject">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m16.875 7.125-9.75 9.75m0-9.75 9.75 9.75" />
                    </svg>
                  </button>
                </div>
              </td>
            </tr>

            <tr>
              <td>1</td>
              <td>Sunil Sharma</td>
              <td>₹15,250</td>
              <td>12-09-2024</td>
              <td>
                <div class="ds-info ds-orange">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18">
                    <path fill="#fff"
                      d="M12.75 2.505A7.5 7.5 0 1 1 1.504 9.243L1.5 9l.004-.243A7.5 7.5 0 0 1 12.75 2.505ZM9 4.5a.75.75 0 0 0-.745.662l-.005.088V9l.007.098a.75.75 0 0 0 .148.358l.065.075 2.25 2.25.07.061a.75.75 0 0 0 .92 0l.07-.062.063-.07a.75.75 0 0 0 0-.92l-.063-.07-2.03-2.031v-3.44l-.005-.087A.75.75 0 0 0 9 4.5Z" />
                  </svg>
                  Pending
                </div>
              </td>
              <td>
                <div class="d-flex gap-2">
                  <button class="btn btn-light">View</button>
                  <button class="btn btn-primary">Download</button>
                  <button class="btn btn-success p-2" data-toggle="tooltip" data-placement="top" title="Approve">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path fill="#fff"
                        d="M23 10a2 2 0 0 0-2-2h-6.32l.96-4.57c.02-.1.03-.21.03-.32 0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.58C7.22 7.95 7 8.45 7 9v10a2 2 0 0 0 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2ZM1 21h4V9H1v12Z" />
                    </svg>
                  </button>
                  <button class="btn btn-danger p-2" data-toggle="tooltip" data-placement="top" title="Reject">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m16.875 7.125-9.75 9.75m0-9.75 9.75 9.75" />
                    </svg>
                  </button>
                </div>
              </td>
            </tr>


          </tbody>
          <tfoot>
            <tr>
              <th>S.No.</th>
              <th>Username</th>
              <th>Amount</th>
              <th>Added On</th>
              <th>Approval Status</th>
              <th>Action</th>
            </tr>
          </tfoot>
        </table>
      </div>


    </div>
  </div>



</div>
</div>
{{/content}}
{{/extend}}