{{#extend layout title="admin" active="admin" path="../" animation="true" isBreadCrumb="true" }}
{{#content "content"}}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between flex-wrap">
                <div class="header-title">
                    <h4 class="card-title mb-0">Generate MIS</h4>
                </div>
                <div class="">
                    <a href="#" class=" text-center btn btn-primary btn-icon mt-lg-0 mt-md-0 mt-3">
                        <span>List All Bills</span>
                    </a>
                </div>
            </div>

            <form method="post" action="" class="card-body">
                <div class="bd-example">
                    <form>

                        <div class="row mb-3 d-flex align-items-center">
                            <div class="col-12 col-lg-2">
                                <label class="form-label m0">Enter Case ID <span class="text-danger">*</span></label>
                            </div>
                            <div class="col-12 col-lg-5">
                                <div class="row">
                                    <div class="col-4">
                                        <select class="form-select ds-select"
                                            aria-label=".form-select-lg example ">
                                            <option selected="">2024</option>
                                            <option>2023</option>
                                            <option>2022</option>
                                            <option>2021</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-select ds-select"
                                            aria-label=".form-select-lg example ">
                                            <option selected="">SEP</option>
                                            <option>NOV</option>
                                            <option>DEC</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3 d-flex align-items-center">
                            <div class="col-12 col-lg-2">
                                <label class="form-label">Select Bank/Company & Billing Office <span
                                        class="text-danger">*</span></label>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-5 mb-3 mb-sm-0">
                                <select class="form-select" aria-label=".form-select-lg example">
                                    <option selected="">Select a Bank/Company</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-5">
                                <select class="form-select" aria-label=".form-select-lg example">
                                    <option selected="">Select Billing Office</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3 d-flex align-items-center">
                            <div class="col-12 col-lg-2">

                            </div>
                            <div class="col-12 col-sm-6 col-lg-5">
                                <select class="form-select mb-3 mb-sm-0"
                                    aria-label=".form-select-lg example">
                                    <option selected="">Select Firing Agency</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-5">
                                <select class="form-select" aria-label=".form-select-lg example">
                                    <option selected="">Select Case Type</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3 d-flex align-items-center">
                            <div class="col-12 col-lg-2">
                                <label class="form-label">Team <span class="text-danger">*</span></label>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-5">
                                <select class="form-select" aria-label=".form-select-lg example">
                                    <option selected="">Select Team</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>


                        <div class="row mb-3 d-flex align-items-center">
                            <div class="col-12 col-lg-2"></div>
                            <div class="col-12 col-lg-5"><button type="submit" class="btn btn-primary ds-btn">Generate
                                    MIS</button>
                            </div>
                        </div>

                    </form>
                </div>
            </form>

        </div>
    </div>
</div>
{{/content}}
{{/extend}}