.main-content .content-inner {
  min-height: -webkit-calc(100vh - 8rem);
  min-height: calc(100vh - 8rem);
}

.ds-select {
  font-size: 16px;
  padding-left: 10px;
}

@media (min-width: 576px) {
  .m0 {
    margin: 0 !important;
  }
}


.ds-btn {
  width: 100%;
}


select {
  cursor: pointer;
}

@media (max-width: 992px) {
  .ds-nav-head {
    margin-top: -60px !important;
  }
}

@media (max-width: 768px) {
  .ds-nav-head {
    margin-top: -110px !important;
  }
}